.header-wrapper{
  width:100%;
}

.navbar{
  display: none;
}

.hero-image{
  min-height: 250px;
  background-position: center;
}

.hero-description{
	width: 80%;
  left: 10%;
   padding: 20px;
   top:300px
}

.hero-section{
  position:static;

}
