.header-wrapper{
  width:100%;
}

.navbar{
  display: none;
}

.hero-image{
  min-height: 250px;
  background-position: center;
}

.hero-description{
	width: 80%;
  left: 10%;
   padding: 20px;
   top:300px
}

.hero-section{
  position:static;

}

.hero-description h1 a{
  font-size:1.5rem;
  line-height: 1.2;

}

.blogs-section{
  margin-top: 16rem;
}


.single-post{
  width:100%;
  flex-basis: 100%;
}
